ul{
    color: slateblue;
}
h1{
    color: olivedrab;
}
#food{
    color: saddlebrown;
}
.name .foreign{
    font-weight: 900;
}

.demo{
    background-color: aquamarine;
    color: springgreen;
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}